@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.color0D{
    color: #0D1321;
}
/* header*/
nav{
    display: flex;
    justify-content: space-between;
    margin:8px 25px 8px;
    align-items: center;
}
.headname{
    font-size: 1.4rem;
    font-weight: 800;
}
.headbtn{
    font-size: 1.14rem;
    padding: 5px;
    font-weight: 400;
    border: .5px solid rgb(6, 6, 11);
    border-radius: 8px;
    box-shadow: none;
    background-color: white;
}
/* main programmer section*/
.programmer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.programer-info{
    display: flex;
    flex-direction: column;
    max-width: 778px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.programmer_description{
    font-size: 1rem;
}
.programmer_heading{
    font-size: 3rem;
    font-weight: 800;
}
.programmerbtn{
    background-color: #0D1321;
    color: white;
    height: 23 px;
    width: 168px;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 5px;

}
.programmer{
    background-image: url(../assets/Hero-bg.png);
    padding: 60px;
    margin: 10px 0 20px;
}
/*developer Section */
.developer{
    height: 1100px;
    width: 840px;
    padding: 80px 97px;
    margin: 50px auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
}
.developer-info{
    display: flex;
    gap: 9px;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: white;
    border-radius:16px ;
    width: 700px;
    height: 200px;
    padding: 48px;
    margin: 10px 0 10px;

}
.developer-thoughts{
    color: rgba(13, 19, 33, 0.7);
    font-size:1.2rem ;
    font-weight: 400;
    line-height: normal;
}
.developer-speech{
    font-size: .7rem;
    font-weight: 300;
    color: #0D1321;
}
.devloper-learn{
    font-size: .8rem;
    font-weight: 400;
    color: #0D1321;
    border: .8px solid black;

}
/* inspiration section */
.inspiritaion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 10px auto;
}
.inspiritaion p{
 font-size: .7rem;
 color: #0D1321;
 font-weight: 300;
}

.inspiritaion h3{
 font-size: 1rem;
 color: #0D1321;
 font-weight: 600;
}
