@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.color0D{
    color: #0D1321;
}
/* header*/
nav{
    display: flex;
    justify-content: space-between;
    margin:8px 25px 8px;
    align-items: center;
}
.headname{
    font-size: 1.4rem;
    font-weight: 800;
}
.headbtn{
    font-size: 1.14rem;
    padding: 5px;
    font-weight: 400;
    border: .5px solid rgb(6, 6, 11);
    border-radius: 8px;
    box-shadow: none;
    background-color: white;
}
/* main programmer section*/
.programmer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.programer-info{
    display: flex;
    flex-direction: column;
    max-width: 798px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.programmer_description{
    font-size: .7rem;
}
.programmer_heading{
    font-size: 1.5rem;
    font-weight: 800;
}
.programmerbtn{
    background-color: #0D1321;
    color: white;
    height: 23 px;
    width: 168px;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 5px;

}
.programmer{
    background-image: url(../assets/Hero-bg.png);
    padding: 60px;
    margin: 10px 0 20px;
}
/*developer Section */
.developer{
    height: 1100px;
    width: 840px;
    padding: 80px 97px;
    margin: 50px auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
}
.developer-info{
    display: flex;
    gap: 9px;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    background-color: white;
    border-radius:16px ;
    width: 700px;
    height: 200px;
    padding: 48px;
    margin: 10px 0 10px;

}
.developer-thoughts{
    color: rgba(13, 19, 33, 0.7);
    font-size:1.2rem ;
    font-weight: 400;
    line-height: normal;
}
.developer-ans{
    font-size: .9rem;
}
.developer-speech{
    font-size: .7rem;
    font-weight: 300;
    color: #0D1321;
}
.devloper-learn{
    font-size: .8rem;
    font-weight: 400;
    color: #0D1321;
    border: .8px solid black;

}
/* inspiration section */
.inspiritaion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 10px auto;
}
.inspiritaion p ,.targets p, .target p , .next_target p
,.support p{
 font-size: .7rem;
 color: #0D1321;
 font-weight: 300;
}

.inspiritaion h3 , .targets h3 , .target h3 , .next_target h3
, .support h3{
 font-size: 1rem;
 color: #0D1321;
 font-weight: 600;
}
/* targer section*/

.targets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin: 20px auto;
    
}
.target-container{
    display: flex;
    justify-content: space-between;

}
.target{
    
    
    margin-left: 25px;
    padding: 15px;
    text-align: justify;
    
    

}
.targets h3{
    line-height: 0%;
    
}
.t1{
    background-color: rgb(163, 163, 209);
    width: 190px;
    border: 1px solid black ;
    border-radius: 8px;
    box-shadow: 2px 2px #646c7d;
}
.t2{
    background-color: #6584c6;
    width: 190px;
    border: 1px solid black ;
    border-radius: 8px;
    box-shadow: 2px 2px #646c7d;
}
.t3{
    background-color: rgb(219, 205, 187);
    width: 190px;
    border: 1px solid black ;
    border-radius: 8px;
    box-shadow: 2px 2px #646c7d;
}
/*current target*/
.next_target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 15PX;
    gap: 1px;
}
.all-target{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.target-c{
    display: flex;
    gap:15px ;
    background-color: #dde0e8;
    border: .9px solid;
    padding: 5px;
    border-radius: 5px;

}
.target-c img{
    width: 100px;
    height: 100px;
}

/* support section */
.support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-image: url(../assets/handshake.jpg) ;
    background-size: cover;
    margin: 20px 290px;
    border-radius: 8px;
    padding: 50px;
}
.support p{
    color: white;
}
.support h3{
    color: white;
    font-size: 1.7rem;
    font-weight: 600;

}
.foot{
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 243, 243);
    padding: 5px 20px;
}
.foot ul{
    display: flex;
    gap:9px
}
.foot ul li{
    list-style: none;
}
/*small device*/
@media screen and (max-width:768px) {
    nav{
        flex-direction: column;
        margin: 0px auto;
       
    }

    .programmer{
        align-items: center;
        background-image: repeat;
        background-size:  cover;
        margin:0px;
    }
    .programmer_heading{
        text-align: center;
    }
    .programmer img{
        width: 100%;
        align-content: center;
    }
    .programer-info{
        width: 100%;
    }

    .developer{
        height: 100%;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 1px;
    }
    .inspiritaion iframe{
        width: 80%;
    }
    .odd{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding:6px;
    }
    .even{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        

    }
    .developer-info{
    background-color: white;
    border-radius:16px ;
    width: 70%;
    height: 100%;
    padding: 2px;
    margin: 5px 0px 9px 0px;

}
.developers{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 9px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.inspiritaion{
    margin: 5px auto;
    padding: 5px;
}
.target-container{
    flex-direction: column;
    gap: 10px;
}

.support{
    width: 60%;
   margin: 0 auto;
}
.foot{
    width: 97%;
    padding: 5px 0px;
    margin: 5px 1px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
}
@media screen and (min-width:576px) and (max-width:991px) {
       nav{
        margin: 0px auto;
       
    }

    .programmer{
        align-items: center;
        background-image: repeat;
        background-size: 100% cover;
        margin:0px;
    }
    .programmer_heading{
        text-align: center;
    }
    .programmer img{
        width: 100%;
        align-content: center;
    }
    .programer-info{
        width: 100%;
    }

    .developer{
        width: 50%;
        text-align: center;
        margin: 0px;
    }
    .inspiritaion iframe{
        width: 80%;
    }
    .odd{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding:6px;
    }
    .even{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .developer-info{
    background-color: white;
    border-radius:16px ;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 5px 0px 9px;

}
.inspiritaion{
    margin: 5px auto;
    padding: 5px;
}
.target-container{
    display: grid;
    grid-template-columns: repeat(2 ,2fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.support{
    width: 70%;
   margin: 0 auto;
}
.foot{
    width: 97%;
    padding: 5px 0px;
    margin: 5px 1px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.developer{
    margin: 6px auto;
}
}